<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de nosotros</title>
    <link rel="stylesheet" href="Static/styles.css">
    <link rel="stylesheet" href="Static/stylesI1.css">
    <link rel="icon" href="Static/imagenes/LogoBW.png">
</head>
<body>
    <div class="padre1">
        <header>
            <input type="checkbox" id="check">
            <label for="check" class="mostrarMenu">
                &#8801
            </label>
        <nav class="menu">
            
            <a href="index.html" >Inicio</a>
            <a href="index1.html" id="pagActual">Acerca de</a>
            <a href="index2.html">Conoce lo que ofrecemos</a>
            
            <label for="check" class="esconderMenu">
                &#215
            </label>
        </nav>
        <div id="logoBody"></div>
        </header>

        <div class="conocenos">
            <img src="Static/imagenes/identidad.png" >
            <h1>¿Quienes somos?</h1>
            <p id="p1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                <br> In placeat eligendi qui assumenda, magni dolor molestiae eius 
                <br> alias magnam sunt. Voluptatibus nam maxime eius, id accusantium dolore
                <br> velit soluta reprehenderit.
                <br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                <br>Temporibus dignissimos labore quidem magni eaque, sed vel incidunt, vero quod, 
                <br>fugit ad nisi ipsa similique nesciunt 
                <br>placeat corporis qui minima nam!</p>
            <p id="p2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                 In placeat eligendi qui assumenda, magni dolor molestiae eius 
                 alias magnam sunt. Voluptatibus nam maxime eius, id accusantium dolore
                velit soluta reprehenderit.
                <br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Temporibus dignissimos labore quidem magni eaque, sed vel incidunt, vero quod, 
                fugit ad nisi ipsa similique nesciunt 
                placeat corporis qui minima nam!
                <br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                 In placeat eligendi qui assumenda, magni dolor molestiae eius 
                 alias magnam sunt. Voluptatibus nam maxime eius, id accusantium dolore
                 velit soluta reprehenderit.
                <br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Temporibus dignissimos labore quidem magni eaque, sed vel incidunt, vero quod, 
                fugit ad nisi ipsa similique nesciunt 
                placeat corporis qui minima nam!</p>
            </div>

        

       




    </div>
        <footer>

            <p>&copy; 2024 Blue webs, todos los derechos reservados</p>
        
        </footer>
        <script src="Scripts/scripts.js"></script>
    </body>

</html>