<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lo que ofrecemos</title>
    <link rel="stylesheet" href="Static/styles.css">
    <link rel="stylesheet" href="Static/styles2.css">
    <link rel="icon" href="Static/imagenes/LogoBW.png">
</head>
<body>
    <div class="padre1">
        <header>
            <input type="checkbox" id="check">
            <label for="check" class="mostrarMenu">
                &#8801
            </label>
        <nav class="menu">
            
            <a href="index.html" >Inicio</a>
            <a href="index1.html">Acerca de</a>
            <a href="index2.html" id="pagActual">Conoce lo que ofrecemos</a>
            
            <label for="check" class="esconderMenu">
                &#215
            </label>
        </nav>
        <div id="logoBody"></div>
        </header>

        <div class="servicios">
          
            <div class="servicio" id="personalizar">
                <img src="Static/imagenes/iconServ1.png">
                <h3>Páginas 
                    <br> totalmente 
                    <br> personalizadas</h3>

                    <p>Danos las especificaciones de 
                    <br> como quieres que se vea tu 
                    <br> sitio web y nosotros 
                    <br> nos encargaremos de que se vea 
                    <br> increible</p>


            </div>

            <div class="servicio" id="hoster">
                <img src="Static/imagenes/iconServ2.png" >
                <h3>¿No tienes un
                    <br> hoster?
                </h3>
                <p>
                    No hay problema, nosotros 
                    <br> nos encargamos de contratarlo por ti,
                    <br> para que tu no tengas que 
                    <br> preocuparte por como poner 
                    <br> tu página en linea
                </p>

            </div>

            <div class="servicio" id="responsive">
                <img src="Static/imagenes/iconServ3.png" alt="">
                <h3>
                    Páginas 
                    <br> totalmente 
                    <br>responsivas
                </h3>
                <p>
                    Las páginas responsivas 
                    <br> son aquellas que se adaptan 
                    <br> para lucir bien tanto en 
                    <br> ordenadores, como en dispositivos
                    <br> moviles, nosotros te ofrecemos la 
                    <br> opción de hacer una página de este estilo o una que
                    <br> solo se pueda ver en computadoras
                    <br> por un precio menor
                </p>

            </div>

            <div class="servicio" id="mantenimiento">
                <img src="Static/imagenes/iconServ4.png" alt="">
                <h3>Servicio de 
                    <br>mantenimiento 
                    <br>y
                    <br>actualizaciones
                </h3>

                <p>
                    Ofrecemos un servicio de mantenimiento
                    <br> y actualizaciones de manera
                    <br> semanal, mensual, o anual
                    <br> por un precio proporcional 
                    <br> al de la pagina y la cantidad de
                    <br> cambios deseados
                </p>


            </div>
        </div>



    </div>
    <footer>

        <p>&copy; 2024 Blue webs, todos los derechos reservados</p>
    
    </footer>
    <script src="Scripts/scripts.js"></script>
</body>
</html>