<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blue webs, sitio oficial</title>
    <link rel="stylesheet" href="Static/styles.css">
    <link rel="icon" href="Static/imagenes/LogoBW.png">
</head>
<body>
    <div class="padre1">
        <header>
            <input type="checkbox" id="check">
            <label for="check" class="mostrarMenu">
            &#8801
            </label>
            <nav class="menu">
        
                <a href="index.html" id="pagActual">Inicio</a>
                <a href="index1.html">Acerca de</a>
                <a href="index2.html">Conoce lo que ofrecemos</a>
        
        
                <label for="check" class="esconderMenu">
                     &#215
                </label>
            </nav>
            <div id="logoBody"></div>
        </header>
        <section class="contenedorI">
            <h2>¿Necesitas una pagina para tu negocio?<br>
             No te preocupes, aqui la consiguiras<br>
            al mejor precio</h2>

            <h3>Si estas interesado en contratar nuestros servicios, 
            <br>
            puedes contactarnos por estos medios:</h3>

            <div class="contactos">
                <a href="https://wa.me/543794748163?text=Gracias%20por%20contactarte%20con%20Blue%20Webs,%20¿en%20que%20puedo%20ayudarte?" class="contacto" id="whatsapp">
            <div>
                <img src="Static/imagenes/iconWap.png" class="iconContac">
                <strong>Whatsapp</strong>
            </div>
            </a>
            <a href="https://www.facebook.com/profile.php?id=61555843444327" class="contacto" id="facebook">
            <div>
                <img src="Static/imagenes/iconFace.png" class="iconContac">
                <strong>Facebook</strong>
            </div>
            </a>
            <a href="#" class="contacto" id="instagram">
            <div >
                <img src="Static/imagenes/iconIG.png" class="iconContac">
                <strong>Instagram</strong>
            </div>
            </a>
            <a href="mailto:blue.webs.industries@gmail.com" class="contacto" id="gmail">
            <div>
                <img src="Static/imagenes/iconMail.png" class="iconContac">
                <div id="Gmail"><strong>Gmail</strong></div>
            </div>
            </a>
        </section>
    </div>


    
<section class="contenedor-slider">
   
    <button class="buttonSlider" id="prevButton"></button>
    <div class="slider">
        <div class="slider-content">
          <div class="slider-item">Hace que tu negocio se vea <br> mas profesional y sea <br> mas accesible al publico</div>
          <div class="slider-item">Paginas webs responsivas <br> y adaptables a dispositivos <br> moviles</div>
          <div class="slider-item">Paginas web de excelente calidad</div>
        </div>
        
      </div>
      <button class="buttonSlider" id="nextButton"></button>
      
</section>


<footer>

    <p>&copy; 2024 Blue webs, todos los derechos reservados</p>

</footer>
    </div>
    <script src="Scripts/scripts.js"></script>
</body>
</html>